/* black: 040101
dark red: 650A0B
red: 9A0101
dark gray: 3B383A
light gray: 909595 
gray: D3D3D3*/

body {
    background-image: url(https://cdn.wallpapersafari.com/42/49/XIhAQL.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color:white;
};
