{% extends 'base.html.j2'%}
{% block title %}
Battle
{% endblock %}

{% block content %}
<h1 style="text-align:center; color:white;">Battle other players</h1>
<hr>
<div class="container d-flex justify-content-evenly">
    {%for user in users%}
        {% if user != current_user %}
         <<div class="d-flex flex-row-reverse">
            <div class="col">
                <div class="card text-white bg-dark">
                <img src="{{user.get_icon_url()}}" class="card-img-top" alt="Avatar">
                <div class="card-body">
                    <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                    <p class="card-text">Wins: {{user.wins}}<br>
                    Losses: {{user.losses}}</p>
                        <p><a href="{{url_for('battle.battle', id=user.id)}}" class="btn btn-danger">Challange to Battle!</a><br></p>
                </div>
                </div>
                <br>
            </div>
        </div>
        {% endif %}
    {%endfor%}

</div>
{% endblock %}

